<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <header>
      <img src="img/nit-logo.png" class="nit-logo" alt="logo og nit-ap" />
      <img src="img/akam.jpeg" class="akam" alt="akam image" />
      <img src="img/mhrd-logo.jpeg" class="mhrd-logo" alt="logo of mhrd" />
      <h1 class="nit-head">
        राष्ट्रीय प्रौद्योगिकी संस्थान आंध्र प्रदेश <br />
        NATIONAL INSTITUTE OF TECHNOLOGY ANDHRA PRADESH <br />
        ( An autonomous Institute under the aegis of Ministry of Education,
        Govt. of India )
      </h1>

      <nav class="navbar">
        <ul class="nav-dropdown">
          <li class="nav-items"><a href="#">Home</a></li>
          <li class="nav-items"><a href="#">Director</a></li>
          <li class="nav-items"><a href="#">adminstration</a></li>
          <li class="nav-items"><a href="#">admissions</a></li>
          <li class="nav-items"><a href="#">academics</a></li>
          <li class="nav-items"><a href="#">research</a></li>
          <li class="nav-items"><a href="#">people</a></li>
          <li class="nav-items"><a href="#">T&p cell</a></li>
          <li class="nav-items"><a href="#">facilities</a></li>
          <li class="nav-items"><a href="#">student affairs</a></li>
          <li class="nav-items"><a href="#">nirf</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <br />
      <div class="carousel">here goes the link</div>

      <div class="sidebar-left">left</div>
      <section>section</section>
      <div class="sidebar-right">right</div>
    </main>

    <div class="bottom-images">
      <img src="img/bottom-1.png" class="bottom-img-1" alt="" />
      <img src="img/bottom-2.png" class="bottom-img" alt="" />
      <img src="img/bottom-3.png" class="bottom-img" alt="" />
      <img src="img/bottom-4.png" class="bottom-img" alt="" />
      <img src="img/bottom-5.png" class="bottom-img" alt="" />
    </div>

    <div class="bottom-links">table with links</div>

    <footer>
      <p class="footer-copyright">
        this website belongs to Arunkumar-60 &copy; 2022, all rights reserved
      </p>
    </footer>
  </body>
</html>
